.modal-body {
	margin: 1vw;
}

.navbar {
	margin-bottom: 30px;
}

.loggedinName {
	color: white;
	border-bottom: 1px solid white;
	padding-bottom: 5px;
	padding-left: 20px;
	font-size: 18px;
}

#logout {
	margin-left: 10px;
	margin-top: 4px;
	margin-bottom: 0px !important;
	padding: 10px !important;
}

#cart {
	position: absolute;
	top: 0.5%;
	right: 0.5%;
}

#failedLogin {
	z-index: 2;
	position: absolute;
	left: 10px;
	top: 50px;
	animation: fadeout ease 3s forwards;
}

#successfulOrder {
	z-index: 2;
	position: absolute;
	left: 10px;
	top: 50px;
	animation: fadeout ease 3s forwards;
}

@keyframes fadeout {
	0% {opacity: 1;}
	50% {opacity: 1;}
	100% {opacity: 0;}
}
